body {
    overflow-x: hidden;
}

#BackgroundVideo {

    pointer-events: none;
    filter: brightness(50%);

    width: 100vw;
    height: 100vh;

    background-color: black;
    object-fit: cover;

    justify-self: center;
    transition: ease-in 500ms;
}

.coverLayout {
    position: absolute;
    z-index: 2;
    bottom: 0;
    padding: 2%;
    padding-right: 50%;
}

    .coverDiv {
        margin-bottom: 1.5vh;
        padding: 0.1vh;
        background-image: linear-gradient(90deg, #ffffff, #ffffff00);
    }
    
    .coverDesc {
        font-size: 1.3rem;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        line-clamp: 4;
    }

    .coverTags {
        margin-bottom: -2.5%;
        display: flex;
        flex: 1;
        flex-wrap: wrap-reverse;
        justify-content: flex-start;
        align-content: flex-end;
    }

        .coverTag {
            font-family: 'Cascadia Code';
            font-weight: bolder;
            font-size: 1em;

            border-radius: 100rem;
            padding: 0.2rem 0.7rem;
            margin: 0 1% 1% 0;

            text-transform: uppercase;
            text-wrap: 2%;

            white-space: nowrap;
            user-select: none;
        }

    .coverTitle {
        font-family: 'Impact';
        font-size: 3.8rem;
        line-height: 3.8rem;
        text-decoration: none;
        color: white;

        transition: ease-in 100ms;
    }

        .coverTitle:hover {
            color: wheat;
        }

        .coverTitle:active {
            color: rgb(166, 147, 112);
            transition: none;
        }