/* STYLES DOT CSS */
/* For any HTML coders inspecting my page, I am very sorry in advance :') */

/* FONTS */

@font-face {
    font-family: Monocode Regular;
    src: url(Assets/Fonts/Monocode\ Regular.ttf);
}

/* VARIABLES */

/* GENERAL STUFF */

html, body {

    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
}

body {

    background-color: #252525;
    margin: 0%;

    -ms-overflow-style: none;
    scrollbar-width: none;
    color: white;
}

body::-webkit-scrollbar {

    display: none;
}

.Loading {

    background-color: #191e30;
    width: 100vw;
    height: 100vh;
    display: block;
    text-align: center;
    position: fixed;
    z-index: 2;
    transition: opacity 400ms ease-in-out;
    font-family: Monocode Regular;
}

/* LANDSCAPED */

@media (orientation: landscape) {

    #BackgroundVideo {

        pointer-events: none;
        filter: brightness(50%);
        width: 100%;
    }
    
    .RTKTextOnly {

        width: 20vw; 
        margin-top: 0.5%;
    }

    .TitleSVG {
    
        position: absolute;
        
        display: flex;
        justify-content: center;
        margin-top: 19%;
    
        width: 100vw;
        z-index: 1;
        pointer-events: none;
    }

    .Cursor {

        width: 50px;
        height: 50px;
        border-radius: 100%;
        border: 1px solid white;
        transition: all 200ms ease-out;
        position: fixed;
        pointer-events: none;
        left: 0;
        top: 0;
        transform: translate(calc(-50% + 15px), -50%);
        z-index: 100;
        opacity: 0%;
    }

    .Cursor2 {

        width: 20px;
        height: 20px;
        border-radius: 100%;
        background-color: white;
        opacity: .3;
        position: fixed;
        transform: translate(-50%, -50%);
        pointer-events: none;
        transition: width .3s, height .3s, opacity .3s;
        z-index: 100;
        opacity: 0%;
    }
}

/* PORTRAIT */

@media (orientation: portrait) {

    #BackgroundVideo {

        pointer-events: none;
        filter: brightness(50%);
    
        height: 100vh;
        
        margin-left: 50vw;
        transform: translate(-50%);
    }
    
    .RTKTextOnly {

        width: 50vw; 
        margin-top: 1%;
    }

    .TitleSVG {
    
        position: absolute;

        display: flex;
        justify-content: center;

        width: 130%;
        margin-left: -15%;
        margin-top: 83vh;

        z-index: 1;
    }
}