body {

    margin: 0%;
    cursor: none;
}

.LoadScreen {

    text-align: center; 
    background-color: rgb(18, 25, 31);
    color: #ffffff;
    height: 100vh;
    font-size: 300%;
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Cursor {

    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 1px solid white;
    position: fixed;
    pointer-events: none;
    left: 0;
    top: 0;
    transform: translate(calc(-50% + 15px), -50%);
    transition: opacity 200ms ease-out;
    z-index: 100;
    opacity: 0%;
}

.Cursor2 {

    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: white;
    opacity: .3;
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 100;
    opacity: 0%;
    transition: opacity 400ms ease-out;
}