/* CSS Test Fix */

@font-face {
    font-family: "Gontserrat Regular";
    src: url(../../assets/fonts/Gontserrat\ Regular.ttf);
}

    @font-face {
    font-family: "Gontserrat Semibold";
    src: url(../../assets/fonts/Gontserrat\ Semibold.ttf);
}


@font-face {
    font-family: "Oxanium Regular";
    src: url(../../assets/fonts/Oxanium\ Regular.ttf);
}

a {
    color: white;
    text-decoration: none;
}

body {
    font-family: "Gontserrat Regular";
    background-image: url(../../assets/TRIA/DifficultyListBG.png);
    background-size: cover;
}

body html {
  height: 100%;
}

footer {
    width: 100%;
    background-color: black;
    
    /* Border */
    border-image-slice: 1;
    border-top: 10px solid;
    border-image: linear-gradient(90deg, #ffb100 0%, #c800e9 100%) 1;

    display: flex;
    justify-content: space-between;
}

    footer #leftFooter {
        display: flex;
        flex-direction: row;
        padding: 2% 5%;
    }
    
        footer #leftFooter img {
            height: 150px;
        }  

        .footerSection {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-left: 5%;
        }

            .footerSection #footerButtons {
                padding-top: 20%;
                display: flex;
                flex-direction: column;
                white-space: nowrap;
            }

                #footerButtons .specialText {
                    color: #c800e9;
                }

                #footerButtons .disabled {
                    color: #949494;
                }

        #footerTitle {
            line-height: 1.7rem;
        }

            #footerTitle #code {
                opacity: 50%;
                font-size: 2rem;
                font-family: "Oxanium Regular";
            }

            #footerTitle #label {
                opacity: 50%;
                font-size: 1.8rem;
                font-family: "Gontserrat Semibold";
            }

    footer #rightFooter {
        display: flex;
        flex-direction: row;
        padding: 2% 5%;
        max-width: 20%;
        flex-direction: column;
        justify-content: space-between;
    }

        #rightFooter p {
        padding-top: 5%;
    }

.bulletinCard {
    width: 100%;
    border: 3px solid;
    margin-bottom: 4%;
}

    #bHeader {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 6%;
        padding-bottom: 3%;

        white-space: nowrap;
        line-height: 1.6rem;
    }

        #bHeader #category {
            font-family: "Gontserrat Regular";
            font-size: 1rem;
        }

        #bHeader #name {
             font-family: "Gontserrat Semibold";
            font-size: 2.4rem;
        }

            #bButtons {
                display: flex;
                margin: 0 5%;
                justify-content: space-around;
                padding-bottom: 5%;

                align-items: center;
                text-align: center;
            }

                #bButtons a {
                    background-color: #575757;
                    border-radius: 100px;
                    width: 100%;
                    padding: 2%;
                }

                    #bButtons a:hover {
                    background-color: #383838;
                }

    #bBody {
        padding: 5%;
        font-size: 1.2rem;
    }


.contributorCard {
    display: flex;
    align-items: center;
    height: 40px;
    font-family: "Oxanium";
    font-size: 1.5rem;
    margin-bottom: 5px;
}

    .contributorCard img {
        height: 100%;
    }

    .contributorCard#maintainers {
        background-color: #00ff4c25;
    }

    .contributorCard#management {
        background-color: #ff00d425;
    }

    .contributorCard#mapRankingJudges {
        background-color: #ffa60025;
    }

#contributorCategory {
    font-family: "Oxanium";
    font-size: 1.4rem;
}

.expandIcon {
    display: none;
    position: fixed;
    right: 5%;
    max-height: 25px;
    max-width: 25px;
}

.map {
    padding: 3%;
    margin: 3% 5% 3% 50px;
    background-color: #00000086;
    
    border-style: dashed;
    border-color: #a7a7a7;
    border-radius: 20px;

    display: flex;
    flex-direction: row;
}

    .youtubeVideo {
        align-self: center;
    }

    /* KEEP THIS DISABLED UNLESS YOU NEED TO EDIT SMTH */
    .map#template {
        display: none;
    }

    .map .infoLayout {
        padding-left: 2%;

        display: flex;
        flex-direction: column-reverse;
    }

        .infoLayout #mapName p {
            display: inline;
            margin-block: unset;
            font-size: 5rex;
        }
            .infoLayout #mapName #rating {
                font-family: "Oxanium Regular";
                color: rgb(255, 73, 73);
        }

#labels img {
    padding-top: 5%;
    height: 40px;
}

#skill0, #skill1, #skill2, #skill3, #skill4, #skill5 {
    opacity: 50%;
}

.addPadding {
    padding-left: 5%;
    padding-right: 5%;
}

.difficultyGroup {
    display: none;
    flex-direction: row;
    align-items: center;
    height: 50px;
}

    .difficultyGroup .difficultyIcon {
        height: 100%;
        max-width: 40px;

        display: flex;
        align-items: center;
    }

        .difficultyIcon img {
            width: 100%;
            float: right;
        }

    .difficultyGroup p {
        padding-left: 10px;
        padding-right: 2%;
        font-size: large;
        opacity: 50%;
    }
        .difficultyGroup p#exemption {
            size: 50rem;
            opacity: 100%;
            padding-right: 5%;
            float: right;
            justify-content: right;
            white-space: nowrap;
        }

    .difficultyGroup .horizontalDivider {
        padding-left: 10px;
        width: 100%;
        height: 4px;
        background-image: linear-gradient(90deg, #ffffff 0%, #ffffff00 100%);
    }

#main {
    /* Parallax */
    background-image: url("../../assets/TRIA/DifficultyListBG.png");
    height: 100%;
    width: 100%;
    position: absolute;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#header {
    background-color: black;
    height: 7%;
    width: 100%;
    
    border-image-slice: 1;
    border-bottom: 5px solid;
    border-image: linear-gradient(90deg, #c800e9 0%, #ffb100 100%) 1;

    display: flex;
    justify-content: space-between;
}

    #headerLeft {
        padding-left: 5%;
        
        display: flex;
        align-items: center;

        height: 100%;
    }

    #headerRight {
        padding-right: 5%;
        
        display: flex;
        align-items: center;

        height: 100%;
    }

    #diffListLogo {
        height: 60%;
    }

    #headerRight a {
        padding: 20px;
        font-size: 1.4rem;
        transition: ease-in 200ms;
    }

    #headerRight a:hover {
        background-color: white;
        color: black;
    }

    #headerRight a:active {
        transition: none;
        background-color: #a7a7a7;
    }

#scrollers {
    padding: 3% 5%;
    display: flex;
    flex-direction: row;
}

    #listScroller {
        display: block;
        width: 70%;
    }

    #bulletin {
        display: block;
        width: 30%;
    }

#buttons {
    display: none;
}

/* Downscale 1 */
@media screen and (max-width: 1042px) {
    
    #bulletin {
        width: 100%;
    }

    #header {
        justify-content: center;
    }

        #headerLeft {
            padding-left: 5%;
            padding-right: 5%;
            
            display: flex;
            align-items: center;

            height: 100%;
        }
        
        #headerRight {
            display: none;
        }

    #bulletin, #verticalDivider {
        display: none;
    }

    #listScroller {
        width: 100%;
    }

    #buttons {
        display: flex;
        justify-content: space-around;
        padding: 3% 4%;
    }

        #buttons div {
            padding: 1%;
            margin: 2%;
            background-color: rgba(7, 11, 34, 0.5);

            border-style: solid;
            border-color: #ffffff;
            border-radius: 20px;

            font-size: 1.3rem;
            width: 100%;

            text-align: center;
            transition: ease-in 100ms;
        }

        #buttons div:hover {
            background-color: rgb(255, 255, 255);
            color: black;
        }

        #buttons .active {
            background-color: rgba(170, 170, 170, 0.5);
        }

    .map {
        flex-direction: column;
    }

    .youtubeVideo {
        width: 100%;
        height: auto;
    }

    #leftFooter #logo {
        display: none;
    }

    footer {
        text-align: center;
        flex-direction: column;
        align-items: center;

        font-size: 1.4rem;
        line-height: 2.5rem
    }

        footer .footerSection {
            padding-top: 10%;
        }

        footer #leftFooter {
            flex-direction: column;
            align-items: center;
        }

        footer #rightFooter {
            max-width: 50%;
            font-size: 1rem;
            line-height: 1.5rem;
        }

        .footerSection #footerButtons {
            padding-top: 0%;
        }

    .map {
        margin: 3% 0;
    }

    .difficultyGroup p#exemption {
        padding: 0%;
    }
}
